<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>Login</h1>
    <form action='/login' method='POST'>
        <section><br>
            <label>E-mail:</label>
            <input type="email" id="email" name="email" required>
        </section>
        <section><br>
            <label>Senha:</label>
            <input type="password" id="password" name="password" minlength="5" maxlength="8" required>
        </section>
        <br> Você é: <br>
        <input type="radio" name="type" value="user" checked>Usuário <input type="radio" name="type" value="hotel">Hotel<br>
        <br>
        <button>Enviar</button>
    </form>
    <br>
    <a href="/registration/user">É um usuário e ainda não possui cadastro? Clique aqui!</a><br><br>

    <a href="/registration/hotel">É um hotel e ainda não possui cadastro? Clique aqui!</a>
</body>

</html>